{% extends "base_edit.html" %}
{% block title %}Edit Workflow Stage{% endblock %}
{% block right_title %}<a href="/chimera/workflows/">Workflows</a>&nbsp&gt&nbsp{{ workflowstage|safe }}{% endblock %}
{% block bottom_right_content %}
<p>
    <form method="post" action="/chimera/workflows/submitstage/{{ workflowstage.id }}/">
        <input type="submit" value="Save" />
        <input type="button" value="{{ undo }}" onClick="if(confirm('Are you sure?')) location.href='/chimera/workflows/deletestage/{{ workflowstage.id }}/'" />
        <p>
            <hr>
            <table id="box-table">
                {{ form }}
            </table>
        </p>
    </form>
</p>
{% endblock %}
