{% extends "base_edit.html" %}
{% block title %}Edit Note{% endblock %}
{% block right_title %}<a href="/chimera/notes/">Notes</a>&nbsp&gt&nbsp{{ note|safe }}{% endblock %}
{% block bottom_right_content %}
<p>
    <form method="post" action="/chimera/notes/submit/{{ note.id }}/">
        <input type="submit" value="Save" />
        <input type="button" value="{{ undo }}" onClick="if(confirm('Are you sure?'))location.href='/chimera/notes/delete/{{ note.id }}/'"/>
        <input type="button" onClick="location.href='/chimera/notes/view/{{ note.id }}/'" value="View" />
        <p>
            <hr>
            <table id="box-table">
                {{ form }}
            </table>
            <hr>
        </p>
    </form>
</p>
{% endblock %}
