{% extends "base_files_refresh.html" %}
{% block title %}File Deltas{% endblock %}
{%block right_title %}
{% if qs %}
    File Deltas with keywords "{{ qs|safe }}" ({{ count }} results)
{% else %}
    File Deltas ({{ count }})
{% endif %}
{% endblock %}
{% block top_right_table %}
<tr>
    <td>
        <form name="search_form" method="get" action="/chimera/filedeltas/search/">
            <input type="text" name="search"
            title="Use operators like server, path, content, or date followed by ':'" />
            <input type="submit" name="button" value="Search" />
        </form>
    </td>
</tr>
{% endblock %}
{% block bottom_right_content %}
    <table id="minimal-table">
        <tr>
            <th>File</th>
            <th>Size</th>
            <th>Update</th>
            <th>Date</th>
        </tr>
    {% for filedelta in list %}
        <tr onmouseover="ChangeColor(this, '#CDF', true);"
          onmouseout="ChangeColor(this, '#FFF', false);"
            onclick="DoNav('/chimera/filedeltas/view/{{ filedelta.id }}/')">
            <td>{{ filedelta.file|safe }}</td>
            <td>{{ filedelta.content|length }}</td>
            {% if filedelta.update == "R" %}
            <td><img border="0" src="/chimera_media/images/remote_delta.png"> {{ filedelta.get_update_display }}</td>
            {% else %}
            <td><img border="0" src="/chimera_media/images/local_delta.png"> {{ filedelta.get_update_display }}</td>
            {% endif %}
            <td>{{ filedelta.date }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
